.undertext {
    background-color: white;
    position: absolute;
    width: auto;
    height: 900px;
    left: 46px;
    right: 46px;
    top: 110px;
    border-radius: 20px;

    filter: drop-shadow(4px 6px 6px rgba(0, 0, 0, 0.25));   
}

.text {   
    position: relative;
    width: 90%;
    height: 650px;
    left: 50px;
    right: 100px;
    text-indent: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;

    color: #000000;    
}

.indent {
    text-indent: 50px;
}


